@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

body, button, input{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}

.main{
	text-align: center;
	padding-top: 240px;
}

.main *{
	font-size: 40px;
}

.button{
	cursor: pointer;
}

.red{
	color: red;
}

input{
	border: none;
	outline: none;
	border-bottom: 1px solid #E2E2E2;
}

ul{
	padding: 10px 0px;
	max-width: 400px;
	margin: 20px auto;
	border-radius: 50px;
}

li{
	list-style-type: none;
}

hr{
	width: 0%;
	position: absolute;
	left: 0px;
	top: 5px;
	transition: all 0.5s;
}

hr.done{
	width: 85%;
}

my-component{
	position: relative;
}

.fadable{
	opacity: 0;
	transform: translateX(-30px);
	transition: all 0.3s;
}

.fadable.show{
	opacity: 1;
	transform: translateY(0px);
}

.add-button{
	opacity: 0;
	transform: translateY(-100px);
	transition: all 0.3s;
}

.add-button.show{
	opacity: 1;
	transform: translateY(0px);
}